* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* variables */
  --mapSize: 300px;
  --mapCellCount: 20;
  --cellSize: calc(100% / var(--mapCellCount));
  --snakeColor: #debf37;
  --snakeHeadColor: FireBrick;
  --cellColor: rgb(1, 154, 1);
  font-family: "Roboto", sans-serif;
  background-image: url("../img/snake.jpg");
  background-size: cover;
  background-position: center;
}

.gameContaiter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world {
  /* size dinamically set in world.js */
  background-image: linear-gradient(315deg, #3b617e 0%, #0d264a 74%);
  position: relative;
}

.snakeCell {
  position: absolute;
  top: calc(var(--top) * var(--cellSize));
  left: calc(var(--left) * var(--cellSize));
  background-color: var(--snakeColor);
  width: var(--cellSize);
  height: var(--cellSize);
}

.fruitCell {
  position: absolute;
  top: calc(var(--top) * var(--cellSize));
  left: calc(var(--left) * var(--cellSize));
  background-color: var(--cellColor);
  width: var(--cellSize);
  height: var(--cellSize);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scoreBoard {
  position: absolute;
  color: white;
  font-family: "Staatliches", cursive;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 4vmin;
  top: 1vmin;
  right: 3vmin;
}

.startMessage {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "Staatliches", cursive;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 4vmin;
}

.endMessage {
  display: none;
  position: absolute;
  background-image: linear-gradient(315deg, #0d264a 0%, #3b617e 160%);
  text-align: center;
  color: white;
  border: 0.4vmin solid white;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  width: 70vmin;
  height: 25vmin;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "Staatliches", cursive;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 3.5vmin;
}

.moveControlsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.moveControls {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.moveControls {
  position: relative;
  min-width: 300px;
  min-height: 220px;
}

.moveControls .fa-solid {
  font-size: 60px;
  padding: 4px;
  color: white;
  text-shadow: 0 0 10px black;
}

.moveControls button {
  background-color: rgb(28, 28, 28);
}

.btnUp {
  width: 72px;
  grid-row: 1;
  grid-column: 2;
}

.btnDown {
  width: 72px;
  grid-row: 3;
  grid-column: 2;
}

.btnLeft {
  grid-row: 2;
  grid-column: 1;
}

.btnRight {
  grid-row: 2;
  grid-column: 3;
}

.endText {
  padding-top: 14px;
}

.endButton {
  position: relative;
  text-transform: uppercase;
  padding: 3px 10px;
  margin-top: 10px;
  border: 2px solid white;
  background-color: rgba(18, 59, 147, 0);
  color: white;
  font-family: "Staatliches", cursive;
  border-radius: 2px;
  transition: 0.4s;
  text-shadow: 0 0 8px black;
  font-size: 14px;
  letter-spacing: 2px;
}

.endButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  color: #debf37;
  background-image: linear-gradient(315deg, FireBrick 20%, var(--snakeColor) 100%);
  transition: 0.4s;
}

.endButton:hover::after {
  height: 100%;
}

.endButton:hover {
  cursor: pointer;
}

.endButton span {
  position: relative;
  z-index: 10;
}

@media (min-width: 350px) {
  .endButton {
    font-size: 22px;
  }
}
@media (min-width: 450px) {
  .endButton {
    margin-top: 20px;
    font-size: 24px;
  }
}
@media (min-width: 576px) {
  .endButton {
    margin-top: 18px;
    font-size: 34px;
  }
  .endMessage {
    height: 20vmin;
  }
}
@media (min-width: 768px) {
  .endButton {
    margin-top: 18px;
    font-size: 40px;
    padding: 8px 20px;
  }
  .endMessage {
    height: 20vmin;
  }
}
@media (min-width: 992px) {
  .gameContaiter {
    padding-top: 20px;
  }
  .moveControls {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */