* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* variables */

	--mapSize: 300px;
	--mapBorderWidth: 1px;
	--mapCellCount: 20;
	--cellSize: 5%;
	--fps: 10;
	--snakeColor: #debf37;
	--cellColor: rgb(1, 154, 1);
	--score: 1;

	font-family: 'Roboto', sans-serif;
	background-image: url('../img/snake.jpg');
	background-size: cover;
	background-position: center;
}

.world {
	background-image: linear-gradient(315deg, #3b617e 0%, #0d264a 74%);
	/* overflow: hidden; */
	position: relative;
	/* top: var(--mapBorderWidth);
    left: var(--mapBorderWidth); */
}

.snakeCell {
	position: absolute;
	top: calc(var(--top) * var(--cellSize));
	left: calc(var(--left) * var(--cellSize));
	background-color: var(--snakeColor);
	width: var(--cellSize);
	height: var(--cellSize);
}

.fruitCell {
	position: absolute;
	top: calc(var(--top) * var(--cellSize));
	left: calc(var(--left) * var(--cellSize));
	background-color: var(--cellColor);
	width: var(--cellSize);
	height: var(--cellSize);
}

.scoreBoard {
	position: absolute;
	color: white;
	font-family: 'Staatliches', cursive;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 4vmin;
	top: 1vmin;
	right: 3vmin;
}
img {
	position: absolute;
	/* top: calc(-1 * var(--mapBorderWidth));
    left: calc(-1 * var(--mapBorderWidth)); */
	width: 100%;
	height: 100%;
}

.game-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 992px){
    .game-container{
        padding-top: 20px;
    }
}